.companyLogo {
  height: 1rem;
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
}

.companyLogo {
  max-width: 20px;
  max-height: 20px;
  width: auto;
  height: auto;
}

.connectorSecondary {
  background-color: var(--secondary-main);
}

.timelineOppositeContentRight,
.timelineOppositeContentLeft,
.timelineContent {
  display: flex;
  align-items: center;
}

.timelineOppositeContentRight {
  margin: auto 0;
  color: var(--text-secondary-color);
  justify-content: flex-start;
}
.timelineOppositeContentLeft {
  margin: auto 0;
  color: var(--text-secondary-color);
  justify-content: flex-end;
}

.timelineContent {
  padding: 12px 2px;
  justify-content: flex-end;
}
