
.companyLogo {
    height: 1rem;
    padding: 0.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  
  .companyLogo {
    max-width: 20px; /* Adjust as needed */
    max-height: 20px; /* Adjust as needed */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
  }
  
  .connectorSecondary {
    background-color: var(--secondary-main);
  }
  
.timelineOppositeContentRight, .timelineOppositeContentLeft,
.timelineContent {
  display: flex;
  align-items: center; /* Vertically centers the content */
}

.timelineOppositeContentRight {
  margin: auto 0;
  color: var(--text-secondary-color); /* Assuming this is a variable you have */
  justify-content: flex-start; /* Aligns the text to the left in the content */
}
.timelineOppositeContentLeft {
  margin: auto 0;
  color: var(--text-secondary-color); /* Assuming this is a variable you have */
  justify-content: flex-end; /* Aligns the text to the right in the opposite content */
}

.timelineContent {
  padding: 12px 2px;
  justify-content: flex-end; /* Aligns the text to the right in the opposite content */
}
