.theme-toggle {
  background: none;
  border: none;
  color: var(--navbar-text-color);
  cursor: pointer;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  outline: none;
}

.theme-toggle:focus {
  outline: none;
}
