/* src/Navbar.css */

/* Define CSS variables for the navbar */
:root {
  --navbar-hover-text-color: #3f46c2;
  --navbar-active-text-color: #08a208;
}

.navbar {
  background-color: var(--navbar-bg-color);
  color: var(--navbar-text-color);
  overflow: hidden;
  width: 90%;
  display: flex;
  justify-content: space-between; /* Distribute space between name and nav links */
  align-items: center; /* Align items vertically */
  padding: 0 20px; /* Add padding to the left and right */
}
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-name {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: var(--navbar-text-color);
  font-weight: bold;
}

.navbar-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  color: var(--navbar-text-color);
  text-decoration: none;
  padding: 14px 16px;
}

.navbar-links li a:hover {
  color: var(--navbar-hover-text-color);
  filter: drop-shadow(0 0 2em var(--navbar-hover-text-color));
}

.navbar .active {
  /* background-color: #0ed60e; */
  color: var(--navbar-active-text-color); 
  filter: drop-shadow(0 0 2em var(--navbar-active-text-color));
}
