/* src/Navbar.css */

/* Define CSS variables for the navbar */
:root {
  --navbar-bg-color: #242424;
  --navbar-text-color: white;
  --navbar-hover-bg-color: #ddd;
  --navbar-hover-text-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --navbar-bg-color: #4a8a6a; /* Adjust as needed */
    --navbar-text-color: white;
    --navbar-hover-bg-color: #9cb1a9; /* Adjust as needed */
    --navbar-hover-text-color: white; /* Adjust as needed */
  }
}

.navbar {
  background-color: var(--navbar-bg-color);
  color: var(--navbar-text-color);
  overflow: hidden;
  width: 90%;
  display: flex;
  justify-content: space-between; /* Distribute space between name and nav links */
  align-items: center; /* Align items vertically */
  padding: 0 20px; /* Add padding to the left and right */
}
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-name {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: var(--navbar-text-color);
  font-weight: bold;
}

.navbar-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  color: var(--navbar-text-color);
  text-decoration: none;
  padding: 14px 16px;
}

.navbar-links li a:hover {
  background-color: var(--navbar-hover-bg-color);
  color: var(--navbar-hover-text-color);
}

.navbar .active {
  background-color: #0ed60e; /* Active link background */
  color: white; /* Active link text color */
}
