 .projects-history table {
    border-collapse: collapse;
    display: flex;
    justify-content: space-evenly; 
    margin: 0 auto;
  }
  
  .projects-history th {
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
  }
  .projects-history tr {
    align-items: center;
    display: flex;
    justify-content: space-evenly; 
    margin: 5em auto;
    padding: 1em;
    border: 2px solid #595eb3; /* Border width, style, and color */
    border-radius: 8px; /* Optional: Rounds the corners */
  }
  
  .projects-history tr:hover {
    
    /* filter: drop-shadow(0 0 2em var(--navbar-hover-bg-color)); */
  }
  