
.sidebar {
  position: fixed;
}

.sidebar nav {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebarFooter {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 1rem;
  transition: color 0.3s ease-in-out;
}
