.main-content {
  margin-left: 30rem;
  width: 40rem;
}
.app { 
  margin: 15%;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .app {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .sidebar {
    width: 80%;
    position: relative;
  }
  .sidebarFooter {
    margin-top: 2rem;
  }
  .main-content {
    width: 90%;
    margin-left: 0; 
    justify-content: space-evenly;
  }
}
