.torch-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Allows clicking through */
  transition: background 0.1s ease-out; /* Smooth transition */
}
.main-content {
  margin-left: 30rem;
  width: 40rem;
}
.app { 
  margin: 10%;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .app {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .sidebar {
    width: 80%;
    position: relative;
  }
  .sidebarFooter {
    margin-top: 2rem;
  }
  .main-content {
    width: 90%;
    margin-left: 0; 
    justify-content: space-evenly;
  }
}
