.main-content {
  margin-left: 60%; /* Push right, same as sidebar width */
  width: 80%;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .app {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
  }
  .sidebar {
    width: 90%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
  }
  .sidebarFooter {
    margin-top: 2rem;
  }
  .main-content {
    width: 30%;
  }
}
