@tailwind base;
@tailwind components;
@tailwind utilities;

.light-mode {
  --background-color: #ffffff;
  --text-color: #213547;
}

.dark-mode {
  --background-color: #11172A;
  --text-color: rgba(255, 255, 255, 0.87);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  place-items: center;
  font-family: Arial, sans-serif;
}

a {
  color: var(--text-color);
  text-decoration: none; 
}

h1 {
  font-size: 3.2em;
}
