.ProjectItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.ProjectItem img {
    width: 10rem;
    height: 10rem;
    object-fit: cover; /* Ensures the image maintains its aspect ratio */
}

.ProjectItemContent {
    display: flex;
    flex-direction: column;
}

.ProjectItemContent h2 {
    
    margin-bottom: 0;
}


@media screen and (max-width: 768px) {
    .ProjectItem {
        flex-direction: column;
    }
    .ProjectItem img {
        width: 16rem;
        height: 10rem;
    }
  }