.projects-history table {
  border-collapse: collapse;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.projects-history th {
  background-color: var(--navbar-bg-color);
  color: var(--navbar-text-color);
}
.projects-history td {
  align-items: center;
  margin: 5em auto;
  padding: 0.08em;
  border: 0.125rem solid #595eb3;
  border-radius: 0.5rem;
}
.projects-history tr {
  align-items: left;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  max-width: 30%;
  max-width: 30%;
  box-sizing: border-box;
  align-items: center;
  display: flex;
}

.projectImage {
  height: 9em;
  width: 20em;
}
