.SubSection {
  align-items: center;
  display: flex;
  margin: 1rem auto;
  gap: 2rem;
}

.SubSection:hover { /* NEED TO DO STUFF FOR LIGHT THEME*/
    background:rgba(255, 255, 255, 0.04);
    border: 0.225rem rgba(255, 255, 255, 0.4);
} 