node_modules
dist
dist-ssr
playwright-report
test-results
blob-report
coverage
package-lock.json
.husky
public/assets
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.webp
**/*.svg
.idea
*.local
.eslintcache
